<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>DS Crash Course - Ian Wu</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container px-5">
                    <a class="navbar-brand" href="#">Country Emissions Predictor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#eda">Exploration</a></li>
                            <li class="nav-item"><a class="nav-link" href="#ml">Machine Learning</a></li>
                            <li class="nav-item"><a class="nav-link" href="#conclusion">Conclusion</a></li>
                            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                            <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Header-->
            <header class="bg-dark py-5" id="">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Predicting a Country's Greenhouse Gas Emissions Using Production, Import, and Exports of Different Fuels</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Ian Wu's Data Science Crash Course Project</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://data.un.org/">Data</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="https://www.ai-camp.org/">Learn More About AI Camp</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5" src="{{url_for('static', filename='images/forest.jpg')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </header>

            <!-- TODO -->
            <!-- About section-->
            <section id="about" style="padding-top: 4rem;">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <h2>🌿 About this project</h2>
                            <p class="lead">
                                Although global warming is an extremely pressing international issue, it can often be difficult to determine which countries contribute the most, as emissions are often misreported or not even reported at all.
                                </br>
                                TEMP, MORE
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TODO -->
            <!-- EDA section-->
            <section id="eda" style="padding-top: 0">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                        <h1 id="top-level-heading">🕵 Exploratory Data Analysis (EDA)</h1><br/>
                        </div>
                        <div class="col-lg-8">
                            <h3>Dataset</h3>
                            <p class="lead">
                                The United Nations Statistics Division makes a variety data on UN member countries available online. From their <a href="https://data.un.org/">API</a>, we have collected historical data on greenhouse gas emissions and fossil fuel imports, exports, and production by country and year and aggregated it into a single dataset. This data is purely numerical and does not contain any categorical columns.
                                <br>
                                <br>
                                We collected data on 5 fossil fuels: 
                                    <ol>
                                        <li>Hard Coal</li>
                                        <li>Natural Gas</li>
                                        <li>Crude Oil</li>
                                        <li>Motor Gasoline</li>
                                        <li>Gas Oil/Diesel Oil</li>
                                    </ol>
                                <br>
                                Unfortunately, due to inconsistent reporting, there is a moderate degree of sparsity which must be dealt with.
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <h3>Missing Value Analysis</h3>
                            <p class="lead">
                                TEMP DESCRIPTION
                                </br>
                                <iframe width="900" height="400" title="Missing Value Analysis" src="{{url_for('static', filename='missing_val_row_counts.html')}}"></iframe> <br>
                                TEMP DESCRIPTION
                                </br>
                                <iframe width="900" height="600" title="Missing Value Analysis" src="{{url_for('static', filename='missing_values.html')}}"></iframe> <br>
                                TEMP HERE, CONCLUSION ABOUT DROPPING CERTAIN VALUES
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <h3>Exploration of data: Correlation table heatmap</h3>
                            <p class="lead">TEMP DESCRIPTION</p>
                            <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='full_cor_mat.html')}}"></iframe> <br>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TODO -->
            <!-- Machine learning section-->
            <section id="ml" style="padding-top: 0">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <h1>🦾 Machine Learning</h1></br>
                        </div>
                        <div class="col-lg-8">
                            <h2>Linear Regression: Explanation</h2>
                            <p class="lead">First, we want to try a baseline linear regression. Linear regression assumes that all features are have a linear relation with GDP per capita, and we can fit a line of best fit to predict future values</p>
                            <img src="{{url_for('static', filename='images/LinearExplanation.png')}}" class="page-image" />
                        </div>
                    </div>
                </div>
            </section>

            <!-- TODO -->
            <!-- Conclusion section-->
            <section class="bg-light" id="Conclusion" style="padding-top: 0">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                        <h1 id="top-level-heading">💡 Conclusion</h1><br/>
                        </div>
                        <div class="col-lg-8">

                            <p class="lead">In conclusion, neural networks clearly performed the best on our dataset for predicting GDP per capita. Positively correlated features like height and phone usage along with negatively correlated features like birthrate and agriculture helped us achieve these results. </p>

                            <h3>So what?</h3>
                                
                            <p class="lead">So what is the significance of our project? Because we know which features are most correlated with a higher GDP country, we can identify both the factors that lead to countries with higher monetary value and also predict and then invest in countries with a high likelihood of future growth. </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team section-->
            <section class="py-5" id="team" style="padding-top: 0">
                <div class="container px-5", style="margin-bottom: 3rem !important;">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Team</h2>
                                <p class="lead fw-normal text-muted mb-5">Meet the extraordinary AI Camp Team</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/michael.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Founder</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Michael Ke Zhang</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/richard.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Founder</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Richard Hsu</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/alex.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Instructor</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Alex Duffy</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/mitch.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Instructor</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Mitch Cutts</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/ian.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Intern</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Ian Wu</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; AI Camp 2022</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
