<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>DS Crash Course - Ian Wu</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.png')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container px-5">
                    <a class="navbar-brand" href="#">Country Emissions Predictor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#eda">Exploration</a></li>
                            <li class="nav-item"><a class="nav-link" href="#ml">Machine Learning</a></li>
                            <li class="nav-item"><a class="nav-link" href="#conclusion">Conclusion</a></li>
                            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                            <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Header-->
            <header class="bg-dark py-5" id="">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-9 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Predicting a Country's Greenhouse Gas Emissions Using Production, Import, and Exports of Different Fuels</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Ian Wu's Data Science Crash Course Project</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://data.un.org/">Data</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="https://www.ai-camp.org/">Learn More About AI Camp</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5" src="{{url_for('static', filename='images/forest.jpg')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </header>

            <!-- About section-->
            <section id="about">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-9">
                            <h2>🌿 About this project</h2>
                            <p class="lead">
                                Although global warming is an extremely pressing international issue, it can often be difficult to determine which countries contribute the most, as emissions are often misreported or not even reported at all. However, emission levels are closely related to fossil fuels, for which trade and production data is significantly better reported/tracked and more readily available.
                                </br></br>
                                The goal of this project is to predict a country's greenhouse gas emissions using trade and production data for different fossil fuels. The year is also utilized, as technology advancements over time are also an important factor for emission levels. A predictive model could not only be used to estimate the emissions from countries which do not report this data, but could also be used to double check the values for countries that do. In addition, studying the relationship between different fossil fuels is also a valuable exercise, as it is important to understand how different fuels contribute to emissions individually.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- EDA section-->
            <section id="eda">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-9">
                        <h1 id="top-level-heading">🕵 Exploratory Data Analysis (EDA)</h1><br/>
                        </div>
                        <div class="col-lg-9">
                            <h3>Dataset</h3>
                            <p class="lead">The United Nations Statistics Division makes a variety data on UN member countries available online. From their <a href="https://data.un.org/">API</a>, we have collected historical data on greenhouse gas emissions and fossil fuel imports, exports, and production by country and year and aggregated it into a single dataset. This data is purely numerical and does not contain any categorical columns.</p>
                            We collected data on 5 fossil fuels: 
                            <ol>
                                <li>Hard Coal</li>
                                <li>Natural Gas</li>
                                <li>Crude Oil</li>
                                <li>Motor Gasoline</li>
                                <li>Gas Oil/Diesel Oil</li>
                            </ol>
                            <p class="lead"></p>
                            <p class="lead">Unfortunately, due to inconsistent reporting, there is a high degree of sparsity in the data which must be dealt with.</p>
                        </div>
                        <div class="col-lg-9">
                            <h3>Missing Value Analysis</h3>
                            <p class="lead">To better understand how to best handle the missing values, the number of rows missing x number of values were graphed as shown.</p>
                            </br>
                            <iframe width="900" height="400" title="Missing Value Analysis" src="{{url_for('static', filename='missing_val_row_counts.html')}}"></iframe> <br>
                            <p class="lead">From the graph, we can see that although only 215 samples are not missing any values, only a small portion of the samples are missing more than 5 values. Although we will need to fill in all missing values to create our prediciton models, doing this for too many variables will make it difficult to achieve an acceptable level of accuracy. As such, rows with more than 5 missing values were dropped from the dataset, with the results being shown below.</p>
                            </br>
                            <iframe width="900" height="500" title="Missing Value Analysis" src="{{url_for('static', filename='missing_values.html')}}"></iframe>
                            <p class="lead">We can see that although the number of missing values for each column have dropped significantly, "Hard Coal Export", "Hard Coal Production", "Natural Gas Production", and "Crude Oil Production" still have a fair number of missing values. As such these columns are dropped from the data.</p>
                        </div>
                        <div class="col-lg-9">
                            <h3>Correlations</h3>
                            <p class="lead">To visualize how the variables in our dataset relate to eachother, a correlation matrix is shown.</p>
                            <iframe width="950" height="850" title="Correlation Table of Features" src="{{url_for('static', filename='cor_mat.html')}}"></iframe>
                            <p class="lead"> From this heatmap, we can see that "Motor Gasoline Production", "Gas Oil/Diesel Oil Production", "Crude Oil Import", and "Motor Gasoline Import" are highly correlated with eachother and are thus not all necessary data to give our model. This correlation is likely due to these specific fossil fuels having very similar uses (transportation/product distribution) and are therefore highly correlated. To understand how they relate to eachother as well as greenhouse gas emissions, they are plotted below.</p>
                            <iframe width="950" height="950" title="Correlation Table of Features" src="{{url_for('static', filename='correlated_variables.html')}}"></iframe>
                            <iframe width="950" height="500" title="Correlation Table of Features" src="{{url_for('static', filename='emissions_vs_correlated_fuels.html')}}"></iframe>
                            <p class="lead">From these plots we can see that there are two very distinct groups in the dataset, one with high emissions and imports of these fuels, and one with low emissions and imports. It initially seems likely that these groups correlate with industrialized nations, as these fuels are all essential to manufacturing and industry, which are primary contributers to greenhouse gas emissions. However, after further data analysis the high emissions group actually consists only of samples from United States. However, this still makes sense, as the US has extremely high levels of both vehicle ownership and emissions.</p>
                            <p class="lead">Although motor gasoline production has the highest correlation with greenhouse gas emissions, crude oil imports have the least clustering and a more linear relationship with greenhouse gas emissions. Therefore, the "Motor Gasoline Production", "Gas Oil/Diesel Oil Production",  and "Motor Gasoline Import" will be dropped.</p>
                            <iframe width="950" height="750" title="Correlation Table of Features" src="{{url_for('static', filename='cor_mat_after_drop.html')}}"></iframe>
                        </div>
                        <div class="col-lg-9">
                            <h3>Filling Missing Values</h3>
                            <p class="lead">To create our prediction model, missing values must be filled in to complete the dataset. This was done by simple replacing each missing value wiht the mean value for its column.</p>
                        </div>
                        <div class="col-lg-9">
                            <h3>Normalization</h3>
                            <p class="lead">Because many of the values in this dataset have extremely different ranges, the values are also normalized to ensure that one variable does not have a disproportionate effect on our model's results.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TODO -->
            <!-- Machine learning section-->
            <section id="ml">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-9">
                            <h1>🦾 Machine Learning</h1></br>
                        </div>
                        <div class="col-lg-9">
                            <h2>Linear Regression: Explanation</h2>
                            <p class="lead">Linear regression is a quintessential machine learning technique, which tries to determine coefficients which will best fit the data. </p>
                            <img src="{{url_for('static', filename='images/LinearExplanation.png')}}" class="page-image" /> <br>
                        </div><p></p>
                        <div class="col-lg-9">
                            <h2>Neural Network: Explanation</h2>
                            <p class="lead">TEMP TEXT</p>
                            <img src="{{url_for('static', filename='images/nn_explanation.png')}}" class="page-image" width="500px"/> <br>
                        </div><p></p>
                        <div class="col-lg-9">
                            <h2>Random Forest Regression: Explanation</h2>
                            <p class="lead">TEMP TEXT</p>
                            <img src="{{url_for('static', filename='images/rf regression.png')}}" class="page-image" width="600px"/> <br>
                        </div><p></p>
                        <div class="col-lg-9">
                            <h2>Comparing Results</h2>
                            <p class="lead">TEMP TEXT</p>
                            <iframe width="950" height="950" title="Correlation Table of Features" src="{{url_for('static', filename='ml_results.html')}}"></iframe>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TODO -->
            <!-- Conclusion section-->
            <section id="conclusion">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-9">
                        <h1 id="top-level-heading">💡 Conclusion</h1><br/>
                        </div>
                        <div class="col-lg-9">
                            <h3>Summary</h3>
                            <p class="lead">TEMP</p>
                            <h3>Recomendations</h3>
                            <p class="lead">TEMP</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team section-->
            <section id="team">
                <div class="container px-5", style="margin-bottom: 3rem !important;">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-9 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Team</h2>
                                <p class="lead fw-normal text-muted mb-5">Meet the extraordinary AI Camp Team</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/michael.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Founder</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Michael Ke Zhang</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/richard.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Founder</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Richard Hsu</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/alex.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Instructor</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Alex Duffy</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/mitch.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Instructor</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Mitch Cutts</h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/ian.png')}}" alt="..." style="max-height: 200px; width:auto;"/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Intern</div>
                                    <a class="text-decoration-none link-dark stretched-link" ><h5 class="card-title mb-3">Ian Wu</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; AI Camp 2022</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
